# Secrets - NE JAMAIS envoyer sur GitHub
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/

# Données utilisateurs
history.json
users.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Cache
*.cache
.pytest_cache/
render-cli/
render-cli.zip
.venv
.venv_old
